<%= content_for(:html_title) { "新しい単語を追加" } %>
<div class="views search">
  <%= render "templates/header" %>
  <div class="new-view">
    <div class="pre-contents-section">
      <h1>新しい単語を追加</h1>
      <div class="word-info">
        <%= form_tag "/search/new" do %>
          <input type="text" name="word" placeholder="単語名を入力" value="<%= @noun.noun %>">
          <p>次のページで、名詞形テーブルやクイズを編集できます。</p>
          <button type="submit" class="green-button">次へ</button>
        <% end %>
      </div>
  </div>
</div>
