<%= content_for(:html_title) { "検索" } %>
<div class="views search">
  <div class="top-view">
    <%= render "templates/header" %>

    <%= form_tag "/search/search_results", method: :get do %>
      <div class="search-section">
        <div class="logo">
          <img src="logo.png" alt="Postdictのロゴ">
        </div>
        <div class="search-widgets">
          <input type="text" class="search-input" name="word" placeholder="英単語かその日本語訳を入力" aria-label="英単語かその日本語訳を入力">
          <button type="submit" class="action-button">検索</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
