<%= content_for(:html_title) { "検索" } %>
<div class="views search">
  <div class="top-view">
    <div class="header-parent">
      <header>
        <ul>
          <li><%= link_to "アカウント設定", "/account" %></li>
          <li><%= link_to "サインアウト", "/signout", { class: "signout-button", method: :post } %></li>
        </ul>
      </header>
    </div>

    <%= form_tag "/search/search" do %>
      <div class="search-section">
        <div class="logo">
          <img src="logo.png" alt="Postdictのロゴ">
        </div>
        <div class="search-widgets">
          <input type="text" class="search-input" placeholder="英単語かその日本語訳を入力" aria-label="英単語かその日本語訳を入力">
          <input type="submit" class="search-button" value="検索">
        </div>
      </div>
    <% end %>
  </div>
</div>
