<div class="views home">
  <div class="top-view">
    <div class="header-parent">
      <header>
        <ul>
          <li><%= link_to "登録", "/signup", { class: "signup" } %></li>
          <li><%= link_to "サインイン", "/signin", { class: "green-button" } %></li>
        </ul>
      </header>
      <div class="header-heading">
        <h1>名詞を正しく使えるように。</h1>
        <p>Postdictは、冠詞の有無や複数形語尾（-s）に注目したオンライン辞書です。</p>
        <div class="actions">
          <%= link_to "使ってみる", "/signup", { class: "content-button" } %>
        </div>
      </div>
    </div>

    <div class="diff-section">
      <h2>たった1文字の差が、大きな意味の差を生む。</h2>
      <p class="bold">
        「一つしかないからaをつける」<br>
        「複数あるからsをつける」<br>
        「不可算名詞だから何もつけない」
      </p>
      <p>
        今までの英語の授業で、そのように教わってきませんでしたか？　しかし、それでは説明できない英文がたくさんあるのです。
      </p>
      <p class="next-paragraph">
        以下の例を見てみてください。myという一文字の有無によって、文の意味がまったく違います。
      </p>
      <div class="diff-half border-right">
        <h3>The matter is out of <span class="bold">hand</span>.</h3>
        <p>その問題は手に負えない。</p>
        <p class="description">
          handには何もつかない
        </p>
      </div>
      <div class="diff-half">
        <h3>The matter is out of <span class="bold">my hand</span>.</h3>
        <p>その問題は管轄外だ。</p>
        <p class="description">
          handには代名詞myがつく
        </p>
      </div>
    </div>

    <div class="existing-section">
      <div class="existing-content">
        <h2>辞書を見ても、名詞の正しい表記は分からない。</h2>
        <p>
          既存の英和辞典・英英辞典の多くは、可算名詞<span class="dict-code">[C]</span>、不可算名詞<span class="dict-code">[U]</span>という言葉で、名詞を分類しています。しかし、一つの名詞に対して<span class="dict-code">[U, C]</span>と、その分類の両方を併記することも多く、時には<span class="dict-code">[C, U, usually Pl.]</span>（可算名詞かつ不可算名詞、通常複数形）といった不可解な表記さえあります。
        </p>
        <p>
          また、out of hand、on saleなどの、前置詞＋何もつかない名詞の形を「成句」として扱い、「なぜ何もつかないのか」ということを説明していない辞書が多いです。
        </p>
        <p>
          結局、名詞の表記に困って辞書をひいても、明解な情報が得られないというのが現実です。
        </p>
      </div>
    </div>

    <div class="about-section">
      <h2>名詞の使い方が分かる辞書に。</h2>
      <p>Postdictは、このような冠詞の有無や複数形語尾（-s）を正しく理解できることを目指したオンライン辞書です。</p>
      <p>すべての名詞を<span class="bold-green">名詞的名詞</span>と<span class="bold-green">動詞的名詞</span>に分類し、文のどの位置で、どの品詞と一緒に、どう使われるかによって意味が変わることをわかりやすく説明しています。</p>
      <p class="next-paragraph">
        <a href="#">動詞的名詞と名詞的名詞って何？</a>
      </p>
      <p class="next-paragraph">
        <%= link_to "さっそく使ってみる", "/signup", { class: "content-button" } %>
      </p>
    </div>

    <footer>
      <div class="footer-content">
        <p>©︎ 2020 Postdict Developers.</p>
      </div>
    </footer>
  </div>
</div>
