// Media Query
@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 760px){
    @content;
  }
}

@mixin button($bg-color, $fg-color) {
  background: $bg-color;
  color: $fg-color;
  text-align: center;
  border-radius: 6px;
  transition: 0.7s;
  font-size: 18px;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline: 4px auto darken($bg-color, 5%);
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  /* Reset for Safari on iOS */
  -webkit-appearance: none;
  padding: 10px 15px;
  border: 2px solid #e7e7e7;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: 4px auto darken(#3daa13, 5%);
  }
}

// Classes used in more than two controllers
.views {
  // The actual header content
  header {
    margin: 0 20px 15px;
    overflow: hidden;

    ul {
      list-style: none;
      text-align: right;
      margin-top: 30px;
    }

    li {
      display: inline-block;
      margin: 0 15px;
      font-size: 18px;
    }

    .signout-button {
      @include button(#fafafa, #3daa13);
      border: 2px solid #3daa13;
      padding: 10px 15px;
  
      &:hover {
        background: #3daa13;
        color: #fafafa;
      }
    }
  }

  // Format things
  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  @mixin highlight($bg-color) {
    padding: 0 2px;
    color: #4d4d4d;
    background: $bg-color;
  }

  .highlight-blue {
    @include highlight(#c4e8ff);
  }

  .highlight-yellow {
    @include highlight(#ebcd48);
  }

  .next-paragraph {
    margin-top: 40px;
  }

  .setting-section {
    @include pc {
      margin: 0 100px;
    }
    @include tablet {
      margin: 0 50px;
    }
    @include mobile {
      margin: 0 30px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      width: 300px;
    }

    .setting-item {
      margin-bottom: 30px;

      h2 {
        font-size: 18px;
      }

      h3 {
        font-size: 16px;
        margin-top: 16px;
        font-weight: normal;
      }

      .setting-plug {
        float: left;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        transition: 0.3s;

        &:hover {
          background: #e2e2e2;
          border-radius: 6px;
        }

        .fas {
          font-size: 48px;
        }
      }
    }

    .actions {
      margin-top: 30px;
    }
  }

  .users-heading {
    h1 {
      font-size: 24px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
    }
  }

  .update-area {
    margin-bottom: 40px;

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: normal;
    }

    input {
      display: block;
    }
  }

  .green-button {
    @include button(#3daa13, #fafafa);
    border: 2px solid #3daa13;
    padding: 5px 10px;
    font-size: 16px;

    &:hover {
      opacity: 0.7;
    }
  }

  .red-button {
    @include button(#aa1313, #fafafa);
    border: 2px solid #aa1313;
    padding: 5px 10px;
    font-size: 16px;

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }
}
