// Media Query
@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 760px){
    @content;
  }
}

@mixin button($bg-color, $fg-color) {
  background: $bg-color;
  color: $fg-color;
  text-align: center;
  border-radius: 6px;
  transition: 0.7s;
  font-size: 18px;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline: 4px auto darken($bg-color, 5%);
  }
}

input[type="text"], input[type="password"] {
  /* Reset for Safari on iOS */
  -webkit-appearance: none;
  padding: 10px 15px;
  border: 2px solid #e7e7e7;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: 4px auto darken(#3daa13, 5%);
  }
}

// Classes used in more than two controllers
.views {
  // The actual header content
  header {
    margin: 0 20px 15px;
    overflow: hidden;

    ul {
      list-style: none;
      text-align: right;
      margin-top: 30px;
    }

    li {
      display: inline-block;
      margin: 0 15px;
      font-size: 18px;
    }

    .signout-button {
      @include button(#fafafa, #3daa13);
      border: 2px solid #3daa13;
      padding: 10px 15px;
  
      &:hover {
        background: #3daa13;
        color: #fafafa;
      }
    }
  }

  // Format things
  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  @mixin highlight($bg-color) {
    padding: 0 2px;
    color: #4d4d4d;
    background: $bg-color;
  }

  .highlight-blue {
    @include highlight(#c4e8ff);
  }

  .highlight-yellow {
    @include highlight(#ebcd48);
  }

  .next-paragraph {
    margin-top: 40px;
  }
}
