/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Init */
body {
  margin: 0;
  color: #4d4d4d;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #3daa13;
}

a:hover {
  text-decoration: underline;
}

/* Flash */
.alert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
}

.alert-notice {
  color: #085c2e;
  background: #cee6d8;
  border-color: #9abba9;
}

.alert-alert {
  color: #ac1b1b;
  background: #ecd4d4;
  border-color: #dfb6b6;
}
