/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/* Init */
body {
  margin: 0;
  color: #4d4d4d;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #3daa13;

  &:hover {
    text-decoration: underline;
  }
}

/* Flash */
.alert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
}

.alert-notice {
  color: #085c2e;
  background: #cee6d8;
  border-color: #9abba9;
}

.alert-alert {
  color: #ac1b1b;
  background: #ecd4d4;
  border-color: #dfb6b6;
}

/* Pull-down menu */
.menu {
  text-align: right;
  position: relative;
  margin-top: 10px;
  margin-right: 20px;

  label {
    font-size: 24px;
    cursor: pointer;
  }

  #menu-checkbox {
    display: none;
    text-align: right;

    &:checked ~ ul {
      display: block;
      position: absolute;
      top: 24px;
      right: 0;
      padding: 6px 0;
      text-align: left;
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 0px 0px 4px #8a8a8a;
    }
  }

  ul {
    display: none;
  }

  li {
    display: block;
    font-size: 16px;
    padding: 0;

    a {
      display: block;
      padding: 5px 15px;

      &:hover {
        text-decoration: none;
        background: #f0f0f0;
      }
    }
  }

  .username {
    font-weight: bold;
    padding: 5px 15px;
  }

  .small-font {
    font-size: 14px;
  }

  .separator {
    border: 1px solid #f0f0f0;
  }

  .signout-red {
    color: #ac1b1b;
  }
}
