// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "main";

.search {
  // Local mixins
  @mixin signout-button($bg-color, $fg-color) {
    @include button($bg-color, $fg-color);
    border: 2px solid $fg-color;
    padding: 10px 15px;

    &:hover {
      background: $fg-color;
      color: $bg-color;
    }
  }

  // Views
  .top-view {
    // The actual header content
    // @override
    header {
      .signout-button {
        @include signout-button(#fafafa, #3daa13);
      }
    }

    .search-section {
      margin: 0 auto;
      margin-top: 150px;
      text-align: center;

      .logo {
        img {
          width: 80%;
          max-width: 520px;
        }
      }

      .search-widgets {
        margin-top: 30px;
        margin-bottom: 100px;

        .search-input {
          width: 80%;
          max-width: 500px;
        }

        .search-button {
          @include button(#3daa13, #fafafa);
          padding: 10px 15px;
          font-size: 16px;
          border: 0;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  // Local selectors & overrides
}
