// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "main";

.users {
  // Local mixins

  // Views
  .signin-form-view, .signup-form-view {
    // Fit the background to the page size, see:
    // https://nansystem.com/css-full-page-background-color/
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-135deg, #fff1a1, #3daa13);

    .form-section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      max-width: 350px;
      padding: 40px 30px;
      background: #fafafa;
      text-align: center;
      box-shadow: 0 0 4px #868686;
      border-radius: 6px;

      .form-heading {
        margin-bottom: 30px;

        p {
          font-size: 14px;
        }
      }

      input, button {
        display: inline-block;
        width: 100%;
      }
    }
  }

  .show-view {
  }

  // Local selectors & overrides
  input {
    margin-bottom: 15px;
  }
}
