// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "main";

.users {
  // Local mixins

  // Views
  .signin-form-view, .signup-form-view {
    // Fit the background to the page size, see:
    // https://nansystem.com/css-full-page-background-color/
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-135deg, #fff1a1, #3daa13);

    .form-section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      max-width: 350px;
      padding: 40px 30px;
      background: #fafafa;
      text-align: center;
      box-shadow: 0 0 4px #868686;
      border-radius: 6px;

      .form-heading {
        margin-bottom: 30px;

        p {
          font-size: 14px;
        }
      }

      input {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
      }

      .entry-half {
        display: inline-block;
        width: calc(50% - 4px);
      }
    }
  }

  .show-view {
    .profile-section {
      width: 30%;
      margin: 0 100px;

      .update-area {
        margin-bottom: 40px;

        h2 {
          font-size: 18px;
        }

        h3 {
          font-size: 16px;
          margin-bottom: 12px;
          font-weight: normal;
        }

        .entry-half {
          display: inline-block;
          width: calc(50% - 4px);
        }
      }
    }
  }

  // Local selectors & overrides
  .user-heading {
    h1 {
      font-size: 24px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
    }
  }

  .user-section {
    input {
      display: block;
      margin-bottom: 15px;
    }

    .green-button {
      @include button(#3daa13, #fafafa);
      border: 2px solid #3daa13;
      padding: 5px 10px;
      font-size: 16px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
